<div class='{{class}} input {{#if isSearch }} input--search {{/if}} {{#if isSearchSmall }} input--search-small {{/if}}' data-name="{{name}}">

    <div class='input__wrap'>
        {{#if isSearch}}
            <div class="input__icon">
                {{> components/sprite name="search" width="20" height="20" }}
            </div>
        {{/if}}

        <label class="input__control-wrap">
            <span class='input__label'>
                {{label}}
            </span>
            <input type='{{type}}' name="{{name}}" class='input__control' placeholder='{{placeholder}}' {{#if required}}
                required {{/if}} />
        </label>

        {{#if isSearch}}
            <button aria-label="Очистить" type="button" class="input__reset">
                {{> components/sprite name="close" width="6" height="6" }}
            </button>
        {{/if}}
        {{#if isSearchSmall}}
            <button aria-label="Очистить" type="button" class="input__reset">
                {{> components/sprite name="close" width="6" height="6" }}
            </button>
        {{/if}}
        <small class="input__notice">
            Заполните это поле
        </small>
    </div>

</div>