<div class="{{class}} select" data-lenis-prevent>
    <div class="select__wrap" data-dropdown>
        <input type="hidden" {{#if name}} name="{{name}}" {{/if}} class="select__input" />

        {{#if combobox}}
        <label>
            1234
        <input type="text" class="select__control"
            placeholder="{{label}}" />
        </label>
        {{/if}}

        {{#unless combobox}}
        <button type="button" class="select__control {{#unless preselect}} select__control--placeholder {{/unless}}"
            data-placeholder="{{label}}">
            {{#if preselect}}
                {{#parseOptions options }}
                    {{#each (slice options 0 1)}}
                        {{{this.label}}}
                    {{/each}}
                {{/parseOptions}}
            {{/if}}
            {{#unless preselect}}
                {{{label}}}
            {{/unless}}
        </button>
        {{/unless}}

        <div class="select__dropdown" data-dropdown-tooltip>
            <div class="select__dropdown-wrap">
                <ul class="select__list">
                    {{#parseOptions options}}
                        {{#each options}}
                            <li class="select__item">
                                <button type="button" class="select__btn" data-value="{{this.value}}"
                                    data-label="{{this.label}}" {{#if this.geo}} data-geo="{{this.geo}}" {{/if}}>
                                    {{{this.label}}}
                                </button>
                            </li>
                        {{/each}}
                    {{/parseOptions}}
                </ul>
            </div>
        </div>

        <small class="select__notice">
            Заполните это поле
        </small>
    </div>
</div>