<div class="{{class}} textarea" data-name="{{name}}">
    <label class="textarea__wrap">
        <span class="textarea__label">
            {{label}}
        </span>
        <textarea
            class="textarea__control"
            name="{{name}}"
            placeholder="{{placeholder}}"
            rows="1"
            maxlength="250"
        ></textarea>

        <small class="textarea__notice">
            Вы использовали 250 символов
        </small>
    </label>
</div>