{{assign blockClass="status-head"}}

<div class="{{class}} {{blockClass}}">
    <div class="{{blockClass}}__wrap">
        <div class="{{blockClass}}__title">
            {{title}}
        </div>

        <div class="{{blockClass}}__current-status">
            Текущий статус:
            <div class="{{blockClass}}__tag">{{status}}</div>
        </div>
    </div>
</div>